.hero{
    width: 100vw;
    height: 400px;
    background: url(./images/hero.jpg) no-repeat center fixed; 
    background-size: cover;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    
}
h1{
    background-color: royalblue;
    color: seashell;
    text-align: center;
    padding: 1px;
    font-size: 48px;
}

h2{
    margin: 30 0;
}
footer{
    text-align: center;
    margin: 40;
    font-size: 15;
}